.cardImageWrapper {
    height: 200px;
    overflow: hidden;background-size: cover;
}

.cardImage {
    display: block;
    vertical-align: middle;
    object-fit: cover;
    transition: all 0.7s ease;
}

.galleryCard:hover {
    cursor: pointer;
}

.galleryCard:hover .cardImage {
    transform: scale(1.1);
}

.headerSection {
    padding: 20px 25px;
    line-height: 24px;
    overflow: hidden;
}

.bodySection {
    padding: 25px;
    padding-top: 0px;
}

.superHeader {
    color: #FF7F32;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;

    margin: 0px;
    margin-bottom: 5px;
}

.header {
    color: #002855;
    letter-spacing: 1px;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 700;
    font-size: 24px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

    overflow: hidden;

    margin: 0px;
}