@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;700;900&family=Roboto:wght@400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0 0;

    position:relative;

    overflow-x: hidden;
}
  
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

.frank-ruhl {
    font-family: 'Frank Ruhl Libre', serif;
}

.roboto {    
    font-family: 'Roboto', sans-serif;
}

.swiper-slide {
    width: auto !important;
    display: flex;
  }

  .swiper {
    overflow: visible !important;
  }
