.statsContainer {
    width: 33%;
    text-align: center;
}

.statsHeader {
    font-size: 32px;
    margin: 0px;
}

.statsSubHeader {
    font-size: 18px;
    font-weight: 300;

    margin: 0px;
}

.statsSubHeader::after {
    display: block;
    content: "";
    height: 1px;
    width: 78px;
    background: #FF7F32;
    margin: 10px auto;
}

.statsCaption {
    font-size: 24px;
    font-weight: 300;
}

.statsCaption span {
    font-weight: 700;
}