.gallery {
    width: 100%;

    
    overflow: visible;
}

.galleryInner {
    overflow: visible;
}

.galleryTrack {
    width: 85000px;
    
    overflow: visible;
}

.cardContainer {
    float: left;
}