.gallery {
    /*width: 100vw;
    margin-left: -50vw;
    position: absolute;

    left: 50%;*/
    /*display: flex;*/
    
    /*overflow: visible;
    position: relative;
    width: calc (((100vw - 1280) / 2) + 1300 )*/
}

.galleryTrack {
    
    width: 100vw;
    
    overflow-x: scroll;

    display: flex;

}

.cardContainer {
}