.introContainer {
    
}

.searchContainer {
    height: 100px;
}

.statsOuterContainer {
    background-color: rgba(0, 40, 85, 0.76);
    position: relative;
    bottom: 0;

    margin-top: 100px;

    width: 100%;

    color: white;
    
    z-index: 2;
}

.statsInnerContainer {    
    width: 1280px;
    margin: auto;

    display: flex;

    padding: 25px 0px;
}

.statsContainer {
    width: 33%;
    text-align: center;
}


.mmInput {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
}